<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/component/pear/css/pear.css"/>
    <link rel="stylesheet" href="/admin/css/reset.css"/>
</head>
<body class="pear-container">


<!-- 数据表格 -->
<div class="layui-card">
    <div class="layui-card-body">
        <table id="data-table" lay-filter="data-table"></table>
    </div>
</div>

<!-- 表格顶部工具栏 -->
<script type="text/html" id="table-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add" permission="app.admin.merchantgroup.insert">
        <i class="layui-icon layui-icon-add-1"></i> {:trans('text_add')}
    </button>
</script>

<!-- 表格行工具栏 -->
<script type="text/html" id="table-bar">
    <button class="pear-btn pear-btn-xs tool-btn" lay-event="config" permission="app.admin.merchantgroup.config">
        {:trans('text_merchant_group_channel_set')}
    </button>
    <button class="pear-btn pear-btn-xs tool-btn" lay-event="edit" permission="app.admin.merchantgroup.update">
        {:trans('text_edit')}
    </button>
    <button class="pear-btn pear-btn-xs tool-btn" lay-event="remove" permission="app.admin.merchantgroup.delete">
        {:trans('text_delete')}
    </button>
</script>

<script src="/component/layui/layui.js?v=2.8.12"></script>
<script src="/component/pear/pear.js"></script>
<script src="/admin/js/permission.js"></script>
<script src="/admin/js/common.js"></script>
<script>

    // 相关常量
    const PRIMARY_KEY = "id";
    const SELECT_API = "/admin/merchantGroup/select";
    const UPDATE_API = "/admin/merchantGroup/update";
    const DELETE_API = "/admin/merchantGroup/delete";
    const INSERT_URL = "/admin/merchantGroup/insert";
    const UPDATE_URL = "/admin/merchantGroup/update";
    const CONFIG_URL = "/admin/merchantGroup/config";

    // 表格渲染
    layui.use(["table", "form", "common", "popup", "util"], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.$;
        let common = layui.common;
        let util = layui.util;

        // 表头参数
        let cols = [
            {
                type: "checkbox",
                hide: true,
            }, {
                title: "ID",
                field: "id",
                width: 100,
                sort: true,
            }, {
                title: "{:trans('text_merchant_group_name')}",
                field: "name",
            }, {
                title: "{:trans('text_merchant_group_settle_type')}",
                field: "settle_type",
                templet: function (d) {
                    let field = "settle_type";
                    if (typeof d[field] == "undefined") return "";
                    let items = [];
                    layui.each((d[field] + "").split(","), function (k, v) {
                        items.push(apiResults[field][v] || v);
                    });
                    return util.escape(items.join(","));
                }
            }, {
                title: "{:trans('text_merchant_group_settle_period')}",
                field: "settle_period",
                templet: function (d) {
                    let field = "settle_period";
                    if (typeof d[field] == "undefined") return "";
                    let items = [];
                    layui.each((d[field] + "").split(","), function (k, v) {
                        items.push(apiResults[field][v] || v);
                    });
                    return util.escape(items.join(","));
                }
            }, {
                title: "{:trans('text_merchant_group_settle_rate')}",
                field: "settle_rate",
                templet: function (d) {
                    return d.settle_rate + " %";
                }
            }, {
                title: "{:trans('text_create_time')}",
                field: "created_at",
                hide: true,
            }, {
                title: "{:trans('text_update_time')}",
                field: "updated_at",
                hide: true,
            }, {
                title: "{:trans('text_sort')}",
                field: "sort_order",
                hide: true,
            }, {
                title: "{:trans('text_enabled')}",
                field: "status",
                templet: function (d) {
                    let field = "status";
                    form.on("switch(" + field + ")", function (data) {
                        let load = layer.load();
                        let postData = {};
                        postData[field] = data.elem.checked ? 1 : 0;
                        postData[PRIMARY_KEY] = this.value;
                        $.post(UPDATE_API, postData, function (res) {
                            layer.close(load);
                            if (res.code) {
                                return layui.popup.failure(res.msg, function () {
                                    data.elem.checked = !data.elem.checked;
                                    form.render();
                                });
                            }
                            return layui.popup.success(res.msg);
                        })
                    });
                    let checked = d[field] === 1 ? "checked" : "";
                    return '<input type="checkbox" value="' + util.escape(d[PRIMARY_KEY]) + '" lay-filter="' + util.escape(field) + '" lay-skin="switch" lay-text="' + util.escape('') + '" ' + checked + '/>';
                },
                width: 90,
            }, {
                title: "{:trans('text_action')}",
                toolbar: "#table-bar",
                align: "center",
                fixed: "right",
                width: 200,
            }
        ];

        // 渲染表格
        function render() {
            table.render({
                elem: "#data-table",
                url: SELECT_API,
                page: {
                    prev: "{:trans('text_prev')}",
                    next: "{:trans('text_next')}",
                    skipText: ["{:trans('text_goto')}", "{:trans('text_page')}", "{:trans('text_confirm')}"],
                    countText: ["{:trans('text_total')} ", " {:trans('text_records')}"],
                    limitTemplet: function(item) {
                        return item + " {:trans('text_records_per_page')}";
                    }
                },
                cols: [cols],
                skin: "line",
                size: "lg",
                toolbar: "#table-toolbar",
                autoSort: false,
                defaultToolbar: [{
                    title: "{:trans('text_refresh')}",
                    layEvent: "refresh",
                    icon: "layui-icon-refresh",
                }, "filter", "print", "exports"],
                done: function () {
                    layer.photos({photos: 'div[lay-id="data-table"]', anim: 5});
                },
                parseData: function (res) {
                    if (res.code) {
                        return layui.popup.failure(res.msg);
                    }
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.count,
                        "data": res.data
                    };
                }
            });
        }

        // 获取表格中下拉或树形组件数据
        let apis = [];
        apis.push(["settle_type", "/admin/config/getConfig?key=MERCHANT_SETTLE_TYPE"]);
        apis.push(["settle_period", "/admin/config/getConfig?key=MERCHANT_SETTLE_PERIOD"]);
        let apiResults = {};
        apiResults["settle_type"] = [];
        apiResults["settle_period"] = [];
        let count = apis.length;
        layui.each(apis, function (k, item) {
            let [field, url] = item;
            $.ajax({
                url: url,
                dateType: "json",
                success: function (res) {
                    if (res.code) {
                        return layui.popup.failure(res.msg);
                    }

                    function travel(items) {
                        for (let k in items) {
                            let item = items[k];
                            apiResults[field][item.value] = item.name;
                            if (item.children) {
                                travel(item.children);
                            }
                        }
                    }

                    travel(res.data);
                },
                complete: function () {
                    if (--count === 0) {
                        render();
                    }
                }
            });
        });
        if (!count) {
            render();
        }

        // 编辑或删除行事件
        table.on("tool(data-table)", function (obj) {
            if (obj.event === "remove") {
                remove(obj);
            } else if (obj.event === "edit") {
                edit(obj);
            } else if (obj.event === "config") {
                config(obj);
            }
        });

        // 表格顶部工具栏事件
        table.on("toolbar(data-table)", function (obj) {
            if (obj.event === "add") {
                add();
            } else if (obj.event === "refresh") {
                refreshTable();
            } else if (obj.event === "batchRemove") {
                batchRemove(obj);
            }
        });

        // 表格排序事件
        table.on("sort(data-table)", function (obj) {
            table.reload("data-table", {
                initSort: obj,
                scrollPos: "fixed",
                where: {
                    field: obj.field,
                    order: obj.type
                }
            });
        });

        // 表格新增数据
        let add = function () {
            layer.open({
                type: 2,
                title: "{:trans('text_add')}",
                shade: 0.1,
                area: [common.isModile() ? "100%" : "600px", common.isModile() ? "100%" : "480px"],
                content: INSERT_URL
            });
        }

        // 表格编辑数据
        let edit = function (obj) {
            let value = obj.data[PRIMARY_KEY];
            layer.open({
                type: 2,
                title: "{:trans('text_edit')}",
                shade: 0.1,
                area: [common.isModile() ? "100%" : "600px", common.isModile() ? "100%" : "480px"],
                content: UPDATE_URL + "?" + PRIMARY_KEY + "=" + value
            });
        }

        // 表格设置通道信息
        let config = function (obj) {
            let value = obj.data[PRIMARY_KEY];
            layer.open({
                type: 2,
                title: "{:trans('text_merchant_group_channel_config')}",
                shade: 0.1,
                area: [common.isModile() ? "100%" : "620px", common.isModile() ? "100%" : "520px"],
                content: CONFIG_URL + "?" + PRIMARY_KEY + "=" + value
            });
        }

        // 删除一行
        let remove = function (obj) {
            return doRemove(obj.data[PRIMARY_KEY]);
        }

        // 执行删除
        let doRemove = function (ids) {
            let data = {};
            data[PRIMARY_KEY] = ids;
            layer.confirm("{:trans('tip_delete')}", {
                icon: 3,
                title: "{:trans('tip')}"
            }, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: DELETE_API,
                    data: data,
                    dataType: "json",
                    type: "post",
                    success: function (res) {
                        layer.close(loading);
                        if (res.code) {
                            return layui.popup.failure(res.msg);
                        }
                        return layui.popup.success(res.msg, refreshTable);
                    }
                })
            });
        }

        // 刷新表格数据
        window.refreshTable = function () {
            table.reloadData("data-table", {
                scrollPos: "fixed",
                done: function (res, curr) {
                    if (curr > 1 && res.data && !res.data.length) {
                        curr = curr - 1;
                        table.reloadData("data-table", {
                            page: {
                                curr: curr
                            },
                        })
                    }
                }
            });
        }
    })

</script>
</body>
</html>
