<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/component/pear/css/pear.css" />
        <link rel="stylesheet" href="/admin/css/reset.css" />
    </head>
    <body>

        <form class="layui-form" action="">

            <div class="mainBox">
                <div class="main-container mr-5">

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_name')}</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" value="" required lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_ratio')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" max="100" lay-affix="number" name="ratio" value="90" lay-verify="required" class="layui-input" style="width: 120px">
                                <div class="layui-input-split layui-input-suffix">
                                    %
                                </div>
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_ratio')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_pay_channel_cost_ratio')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" max="100" lay-affix="number" name="cost_ratio" value="0" class="layui-input" style="width: 120px">
                                <div class="layui-input-split layui-input-suffix">
                                    %
                                </div>
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_cost_ratio')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_mode')}</label>
                        <div class="layui-input-block">
                            <div name="mode" id="mode" value="0" ></div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_mode')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_method')}</label>
                        <div class="layui-input-block">
                            <div name="method_id" id="method" value="" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_driver')}</label>
                        <div class="layui-input-block">
                            <div name="driver_key" id="driver" value="" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_day_limit')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" lay-affix="number" name="day_limit" value="0" required lay-verify="required" placeholder="￥" class="layui-input" style="width: 120px">
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_day_limit')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_pay_min')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" lay-affix="number" name="day_limit" value="0" required lay-verify="required" placeholder="￥" class="layui-input" style="width: 120px">
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_pay_min')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_pay_max')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" lay-affix="number" name="day_limit" value="0" required lay-verify="required" placeholder="￥" class="layui-input" style="width: 120px">
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_pay_max')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_status')}</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="status" lay-skin="switch" checked />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_sort')}</label>
                        <div class="layui-input-block">
                            <input type="text" name="sort_order" value="500" class="layui-input">
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="bottom">
                <div class="button-container">
                    <button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit=""
                        lay-filter="save">
                        {:trans('text_submit')}
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        {:trans('text_reset')}
                    </button>
                </div>
            </div>
            
        </form>

        <script src="/component/layui/layui.js?v=2.8.12"></script>
        <script src="/component/pear/pear.js"></script>
        <script src="/admin/js/permission.js"></script>
        
        <script>

            // 相关接口
            const INSERT_API = "/admin/payChannel/insert";

            // 基础设置
            layui.use(["layer", "popup", "form", "popup", "jquery", "xmSelect"], function() {
                let $ = layui.$;
                let form = layui.form;

                // 字段 mode
                layui.$.ajax({
                    url: "/admin/config/getConfig?key=PAY_CHANNEL_MODES",
                    dataType: "json",
                    success: function (res) {
                        let value = layui.$("#mode").attr("value");
                        let initValue = value ? value.split(",") : [];
                        layui.xmSelect.render({
                            el: "#mode",
                            name: "mode",
                            initValue: initValue,
                            tips: "{:trans('tip_select')}",
                            data: res.data,
                            value: "0",
                            model: {"icon":"hidden","label":{"type":"text"}},
                            clickClose: true,
                            radio: true
                        })
                    }
                });

                // 字段 method_id
                layui.$.ajax({
                    url: "/admin/payMethod/select?format=select",
                    dataType: "json",
                    success: function (res) {
                        let value = layui.$("#method").attr("value");
                        let initValue = value ? value.split(",") : [];
                        layui.xmSelect.render({
                            el: "#method",
                            name: "method_id",
                            initValue: initValue,
                            tips: "{:trans('tip_select')}",
                            data: res.data,
                            value: "0",
                            model: {"icon":"hidden","label":{"type":"text"}},
                            clickClose: true,
                            radio: true,
                            on: function (data) {
                                // 选择支付方式后获取支持的驱动列表
                                var change = data.change;
                                // driver_key 字段
                                layui.$.ajax({
                                    url: "/admin/payDriver/getListByMethod?method_id=" + change[0].value,
                                    dataType: "json",
                                    success: function (res) {
                                        let value = layui.$("#driver").attr("value");
                                        let initValue = value ? value.split(",") : [];
                                        layui.xmSelect.render({
                                            el: "#driver",
                                            name: "driver_key",
                                            initValue: initValue,
                                            tips: "{:trans('tip_select')}",
                                            data: res.data,
                                            value: "0",
                                            model: {"icon":"hidden","label":{"type":"text"}},
                                            clickClose: true,
                                            radio: true
                                        })

                                    }
                                });
                            }
                        })

                    }
                });

                // 提交事件
                form.on("submit(save)", function (data) {
                    data.field.is_pc = data.field.is_pc ? 1 : 0;
                    data.field.is_mobile = data.field.is_mobile ? 1 : 0;
                    data.field.status = data.field.status ? 1 : 0;
                    layui.$.ajax({
                        url: INSERT_API,
                        type: "POST",
                        dateType: "json",
                        data: data.field,
                        success: function (res) {
                            if (res.code) {
                                return layui.popup.failure(res.msg);
                            }
                            return layui.popup.success(res.msg, function () {
                                parent.refreshTable();
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        }
                    });
                    return false;
                });
            });

        </script>

    </body>
</html>
