<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/component/pear/css/pear.css" />
        <link rel="stylesheet" href="/admin/css/reset.css" />
    </head>
    <body>

        <form class="layui-form" action="">

            <div class="mainBox">
                <div class="main-container mr-5">

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_pay_channel_select')}</label>
                        <div class="layui-input-block">
                            {foreach $selects as $key=>$vo}
                                {if in_array($key, $channel_app_type)}
                                    <input type="checkbox" name="app_type[]" value="{$key}" title="{$vo}" checked>
                                {else /}
                                    <input type="checkbox" name="app_type[]" value="{$key}" title="{$vo}">
                                {/if}
                            {/foreach}
                        </div>
                    </div>

                    {foreach $inputs as $key=>$input}
                    <div class="layui-form-item">
                        <label class="layui-form-label required">{$input['name']}</label>
                        <div class="layui-input-block">
                            {switch $input['type']}
                            {case input}<input type="text" name="secret_config[{$key}]" value="<?php $channel_secret_config[$key] ?? ''; ?>" autocomplete="off" class="layui-input">{/case}
                            {case textarea}<textarea name="secret_config[{$key}]" class="layui-textarea"><?php $channel_secret_config[$key] ?? ''; ?></textarea>{/case}
                            {case select}
                            <select name="secret_config[{$key}]">
                                <option value="">{:trans('tip_select')}</option>
                                {foreach $input['options'] as $k=>$v }
                                <option value="{$k}">{$v}</option>
                                {/foreach}
                            </select>
                            {/case}
                            {/switch}
                            {if $input['note']}
                            <div class="layui-form-mid layui-text-em">{$input['note']}</div>
                            {/if}
                        </div>
                    </div>
                    {/foreach}

                    {if $driver_note}
                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_driver_note')}</label>
                        <div class="layui-input-block">
                            <?php echo $driver_note; ?>
                        </div>
                    </div>
                    {/if}
                    
                </div>
            </div>

            <div class="bottom">
                <div class="button-container">
                    <button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit=""
                        lay-filter="save">
                        {:trans('text_submit')}
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        {:trans('text_reset')}
                    </button>
                </div>
            </div>
            
        </form>

        <script src="/component/layui/layui.js?v=2.8.12"></script>
        <script src="/component/pear/pear.js"></script>
        <script src="/admin/js/permission.js"></script>
        
        <script>

            // 相关接口
            const PRIMARY_KEY = "id";
            const SELECT_API = "/admin/payChannel/select" + location.search;
            const UPDATE_API = "/admin/payChannel/update";

            // 获取数据库记录
            layui.use(["layer", "popup", "form", "popup", "jquery", "xmSelect", "util"], function () {
                let $ = layui.$;
                let form = layui.form;

                //提交事件
                form.on("submit(save)", function (data) {
                    data.field[PRIMARY_KEY] = layui.url().search[PRIMARY_KEY];
                    // 处理复选框字段
                    var appTypeValues = [];
                    for (var key in data.field) {
                        if (key.startsWith('app_type[')) {
                            appTypeValues.push(data.field[key]);
                            // 删除原有的key
                            delete data.field[key];
                        }
                    }
                    data.field.app_type = appTypeValues.join(",");

                    $.ajax({
                        url: UPDATE_API,
                        type: "POST",
                        dateType: "json",
                        data: data.field,
                        success: function (res) {
                            if (res.code) {
                                return layui.popup.failure(res.msg);
                            }
                            return layui.popup.success(res.msg, function () {
                                parent.refreshTable();
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        }
                    });
                    return false;
                });
            });

        </script>

    </body>
</html>
