<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/component/pear/css/pear.css" />
        <link rel="stylesheet" href="/admin/css/reset.css" />
    </head>
    <body>

        <form class="layui-form" action="">

            <div class="mainBox">
                <div class="main-container mr-5">

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_pay_channel_select')}</label>
                        <div class="layui-input-block">
                            {foreach $selects as $key=>$vo}
                                {if in_array($key, $channel_app_type)}
                                    <input type="checkbox" name="app_type[]" value="{$key}" title="{$vo}" checked>
                                {else /}
                                    <input type="checkbox" name="app_type[]" value="{$key}" title="{$vo}">
                                {/if}
                            {/foreach}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_pay_channel_select')}</label>
                        <div class="layui-input-block">
                            <div name="app_type" id="app_type" value="" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_name')}</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" value="" required lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_ratio')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" max="100" lay-affix="number" name="ratio" value="" lay-verify="required" class="layui-input" style="width: 120px">
                                <div class="layui-input-split layui-input-suffix">
                                    %
                                </div>
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_ratio')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_pay_channel_cost_ratio')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" max="100" lay-affix="number" name="cost_ratio" value="" class="layui-input" style="width: 120px">
                                <div class="layui-input-split layui-input-suffix">
                                    %
                                </div>
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_cost_ratio')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_mode')}</label>
                        <div class="layui-input-block">
                            <div name="mode" id="mode" value="" ></div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_mode')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_method')}</label>
                        <div class="layui-input-block">
                            <div name="method_id" id="method" value="" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_driver')}</label>
                        <div class="layui-input-block">
                            <div name="driver_key" id="driver" value="" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_day_limit')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" lay-affix="number" name="day_limit" value="" required lay-verify="required" placeholder="￥" class="layui-input" style="width: 120px">
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_day_limit')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_pay_min')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" lay-affix="number" name="day_limit" value="" required lay-verify="required" placeholder="￥" class="layui-input" style="width: 120px">
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_pay_min')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel_pay_max')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" min="0" lay-affix="number" name="day_limit" value="" required lay-verify="required" placeholder="￥" class="layui-input" style="width: 120px">
                            </div>
                            <div class="layui-form-mid layui-text-em">{:trans('tip_pay_channel_pay_max')}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_status')}</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="status" lay-skin="switch" />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_sort')}</label>
                        <div class="layui-input-block">
                            <input type="text" name="sort_order" value="" class="layui-input">
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="bottom">
                <div class="button-container">
                    <button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit=""
                        lay-filter="save">
                        {:trans('text_submit')}
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        {:trans('text_reset')}
                    </button>
                </div>
            </div>
            
        </form>

        <script src="/component/layui/layui.js?v=2.8.12"></script>
        <script src="/component/pear/pear.js"></script>
        <script src="/admin/js/permission.js"></script>
        
        <script>

            // 相关接口
            const PRIMARY_KEY = "id";
            const SELECT_API = "/admin/payChannel/select" + location.search;
            const UPDATE_API = "/admin/payChannel/update";

            // 获取数据库记录
            layui.use(["layer", "popup", "form", "popup", "jquery", "xmSelect", "util"], function () {
                let $ = layui.$;
                let form = layui.form;

                //提交事件
                form.on("submit(save)", function (data) {
                    data.field[PRIMARY_KEY] = layui.url().search[PRIMARY_KEY];
                    // 处理复选框字段
                    var appTypeValues = [];
                    for (var key in data.field) {
                        if (key.startsWith('app_type[')) {
                            appTypeValues.push(data.field[key]);
                            // 删除原有的key
                            delete data.field[key];
                        }
                    }
                    data.field.app_type = appTypeValues.join(",");

                    $.ajax({
                        url: UPDATE_API,
                        type: "POST",
                        dateType: "json",
                        data: data.field,
                        success: function (res) {
                            if (res.code) {
                                return layui.popup.failure(res.msg);
                            }
                            return layui.popup.success(res.msg, function () {
                                parent.refreshTable();
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        }
                    });
                    return false;
                });
            });

        </script>

    </body>
</html>
