<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/component/pear/css/pear.css" />
        <link rel="stylesheet" href="/admin/css/reset.css" />
    </head>
    <body>

        <form class="layui-form" action="">

            <div class="mainBox">
                <div class="main-container mr-5">

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_merchant')}</label>
                        <div class="layui-input-block">
                            <input type="text" id="merchant_name" value="" class="layui-input layui-font-red" disabled>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_merchant_fee_mode')}</label>
                        <div class="layui-input-block">
                            <div name="fee_mode" id="fee_mode" value="0" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_pay_channel')}</label>
                        <div class="layui-input-block">
                            <div name="channel_id" id="channel_id" value="0" ></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_pay_channel_ratio')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="number" name="channel_rate" id="channel_rate" value="" class="layui-input" style="width: 150px" disabled>
                                <div class="layui-input-split layui-input-suffix">
                                    %
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_order_goods_name')}</label>
                        <div class="layui-input-block">
                            <input type="text" name="goods_name" value="{:trans('text_order_offline')}" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">{:trans('text_order_goods_price')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="text" min="0" name="goods_price" id="goods_price" value="" class="layui-input" style="width: 150px">
                                <div class="layui-input-split layui-input-suffix">
                                    ￥
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_order_handling_fee')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="text" name="handling_fee" value="" class="layui-input" style="width: 150px" disabled>
                                <div class="layui-input-split layui-input-suffix">
                                    ￥
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_order_received_amount')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="text" name="received_amount" value="" class="layui-input" style="width: 150px" disabled>
                                <div class="layui-input-split layui-input-suffix">
                                    ￥
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_order_amount')}</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group">
                                <input type="text" name="amount" value="" class="layui-input layui-font-red layui-font-24" style="width: 150px" readonly>
                                <div class="layui-input-split layui-input-suffix">
                                    ￥
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:trans('text_order_status')}</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="status" lay-skin="switch" checked />
                        </div>
                    </div>

                </div>
            </div>

            <div class="bottom">
                <div class="button-container">
                    <button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit=""
                        lay-filter="save">
                        {:trans('text_submit')}
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        {:trans('text_reset')}
                    </button>
                </div>
            </div>
            
        </form>

        <script src="/component/layui/layui.js?v=2.8.12"></script>
        <script src="/component/pear/pear.js"></script>
        <script src="/admin/js/permission.js"></script>
        <script src="/admin/js/formVerify.js"></script>

        <script>

            // 相关接口
            const INSERT_API = "/admin/order/insert";

            var channel_rate = {};

            var xmsChannelId = null;
            var xmsFeeMode = null;

            // 基础设置
            layui.use(["layer", "popup", "form", "popup", "jquery", "xmSelect"], function() {
                let $ = layui.$;
                let form = layui.form;

                var merchant_id = layui.url().search['id'];

                // 字段 merchant_name
                $.ajax({
                    url: "/admin/merchant/select?id=" + merchant_id,
                    dataType: "json",
                    success: function (res) {
                        // 显示商户名称+ID
                        var data = res.data[0];
                        layui.$("#merchant_name").val("【" + data.id + "】" + data.username);
                    }
                });

                // 字段 channel_id
                $.ajax({
                    url: "/admin/merchant/channelRate?merchant_id=" + merchant_id + "&method_key=offline",
                    dataType: "json",
                    success: function (res) {
                        let value = layui.$("#channel_id").attr("value");
                        let initValue = value ? value.split(",") : [];
                        var channels = [];
                        if(res.data.offline.status === 1) {
                            channels = Object.keys(res.data.offline.channels).map(function (key) {
                                return {
                                    name: res.data.offline.channels[key],
                                    value: key
                                }
                            });
                            // console.log(JSON.stringify(channels));
                            // 缓存channel_rate
                            channel_rate = res.data.offline.channels_rate;
                            // console.log(JSON.stringify(channel_rate));
                        }
                        xmsChannelId = layui.xmSelect.render({
                            el: "#channel_id",
                            name: "channel_id",
                            initValue: initValue,
                            tips: "{:trans('tip_select')}",
                            data: channels,
                            value: "0",
                            model: {"icon":"hidden","label":{"type":"text"}},
                            clickClose: true,
                            radio: true,
                            on: function(data){
                                var change = data.change[0].value;
                                layui.$("#channel_rate").val(channel_rate[change]);
                                // 切换时重新计算订单金额
                                countAmount();
                            }
                        })
                    }
                });

                // 字段 fee_mode
                $.ajax({
                    url: "/admin/config/getConfig?key=MERCHANT_FEE_MODE",
                    dataType: "json",
                    success: function (res) {
                        let value = layui.$("#fee_mode").attr("value");
                        let initValue = value ? value.split(",") : [];
                        xmsFeeMode = layui.xmSelect.render({
                            el: "#fee_mode",
                            name: "fee_mode",
                            initValue: initValue,
                            tips: "{:trans('tip_select')}",
                            data: res.data,
                            value: "0",
                            model: {"icon":"hidden","label":{"type":"text"}},
                            clickClose: true,
                            radio: true,
                            on: function (data) {
                                var change = data.change[0].value;
                                // 手动更新一下xmFeeMode中的值
                                xmsFeeMode.update({
                                    data: res.data,
                                    initValue: [change]
                                });
                                // 切换时重新计算订单金额
                                countAmount();
                            }
                        })
                    }
                });

                // 输入商品金额goods_price，计算订单金额amount
                layui.$("#goods_price").on('input', function() {
                    var rate = parseFloat(layui.$("#channel_rate").val()) || 0;  // 获取渠道结算比例
                    // 获取渠道结算比例为0则不计算，弹出提示：“请选择支付通道”
                    if (rate === 0) {
                        layui.popup.failure("请先选择支付通道");
                        return;
                    }
                    countAmount();
                });

                // 封装计算订单金额的方法
                var countAmount = function () {
                    // 获取商品金额
                    var goods_price = parseFloat(layui.$("#goods_price").val()) || 0;
                    // 获取手续费模式 从 #fee_mode 中获取 select 选中值
                    var fee_mode = xmsFeeMode.getValue()[0].value || 0;
                    var rate = parseFloat(layui.$("#channel_rate").val()) || 0;  // 获取渠道结算比例
                    // 获取渠道结算比例为0则不计算
                    if (rate === 0) {
                        return;
                    }
                    if (goods_price === 0) {
                        return;
                    }
                    var amount, received_amount, handling_fee = 0;

                    // 根据手续费模式进行不同的计算，金额均保留两位小数
                    if (fee_mode === 0) {
                        // 商户承担模式：fee_mode = 0
                        // 订单金额 = 商品金额 ，保留两位小数
                        amount = goods_price.toFixed(2);
                        // 到账金额 = 订单金额 x 结算比例，保留两位小数
                        received_amount = (amount * rate / 100).toFixed(2);
                        // 手续费 = 订单金额 - 到账金额
                        handling_fee = (amount - received_amount).toFixed(2);
                    } else if (fee_mode === 1) {
                        // 用户承担模式：fee_mode = 1
                        // 到账金额 = 商品金额
                        received_amount = goods_price.toFixed(2);
                        // 订单金额 = 到账金额 / 结算比例
                        amount = (received_amount / rate * 100).toFixed(2);
                        // 手续费 = 订单金额 - 到账金额
                        handling_fee = (amount - received_amount).toFixed(2);
                    }

                    // 更新到账金额和手续费
                    layui.$("input[name='received_amount']").val(received_amount);
                    layui.$("input[name='handling_fee']").val(handling_fee);
                    layui.$("input[name='amount']").val(amount);
                }

                // 提交事件
                form.on("submit(save)", function (data) {
                    var submitButton = layui.$('button[type="submit"]');
                    var index = layui.layer.load(1, {shade: [0.1, '#fff']});  // 显示加载动画
                    submitButton.prop("disabled", true).text("{:trans('text_submitting')}");
                    data.field.merchant_id = layui.url().search['id'];
                    data.field.status = data.field.status ? 1 : 0;
                    layui.$.ajax({
                        url: INSERT_API,
                        type: "POST",
                        dateType: "json",
                        data: data.field,
                        success: function (res) {
                            if (res.code) {
                                submitButton.prop("disabled", false).text("{:trans('text_submit')}");
                                return layui.popup.failure(res.msg);
                            }
                            return layui.popup.success(res.msg, function () {
                                parent.refreshTable();
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        },
                        complete: function () {
                            layui.layer.close(index);  // 关闭加载动画
                        }
                    });
                    return false;
                });
            });

        </script>

    </body>
</html>
